@import "compass";
@import "compass/reset";

$coreBlue: #0d2b53;
body {
  font-family: 'Source Sans Pro', sans-serif;
}
.top-container {
  position: fixed;
  right: 0;
  z-index: 10;
  margin: 10px 10px 0 0;
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  min-width: 17.5rem;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  border-radius: 4px;
  background-color: white;
}
.top-text {
  height: 2rem;
  line-height: 2rem;
}
.top-menu {
  color: darkgray;
  height: 1.5rem;
  display: flex;
}
.menu-button {
  cursor: pointer;
  flex: 1;
  text-align: center;
}
.about-button {
  text-decoration: underline;
}
.about-div {
  position: relative;
  width: 17.5rem;
  padding-bottom: .8rem;
  color: darkgray;
  font-size: .85rem;
  line-height: 1.2rem;
  display: none;
}
.about-checkbox {
  display: none;
}
.got-it-button {
  cursor: pointer;
  color: dimgray;
  text-decoration: underline;
}

#map {
  z-index: 1;
  width: 100vw;
  height: 100vh;
}
.stop-icon .stop-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.leaflet-overlay-pane {
  opacity: .2;
}
