@import "compass";
@import "compass/reset";

$coreBlue: #0d2b53;
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}
#topBar {
    color: white;
    height: 10vh;
    background-color: lighten($coreBlue,40%);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 160%;
    font-weight: 400;
    line-height: 10vh;
    display: flex;
    //justify-content: center;
}
#topBarContent {
    //width: 400px;
    //text-align: center;
    flex: 8;
    display: flex;
    justify-content: center;
}
#topBarText {
    width: 350px;
}
#helpMenu {
    //flex: 1;
    padding-left: 20px;
    padding-right: 20px;
}
#helpCheckbox {
    display: none;
    height: 100%;
}
#helpIcon {
    float: right;
    //padding: 18px;
    //padding-right: 30px;
}
label[for="helpCheckbox"] {
    cursor: pointer;
}
#helpDiv {
    position: fixed;
    width: 60vw;
    height: 60vh;
    top: 20vh;
    left: 20vw;
    background-color: $coreBlue;
    text-align: center;
    //padding: 30px;
    z-index: 1;
    display: none;
    overflow-y: scroll;
}
#helpText {
    margin: 30px;
    line-height: 1.2;
    font-size: 2.5vw;
}
#gotIt {
    border: solid white 1px;
    width: 10vw;
    margin: auto;
    cursor: pointer;
}
#thanksText {
    font-size: 1.8vw;
}
#map {
    width: 100vw;
    height: 90vh;
    margin: 0px;
    //display: none;
}
.stopDot {
    //stroke-width: 0px;
    //fill: white;
    fill-opacity: 1;
    position: relative;
    z-index: 2;
}
#walk {
    stroke: lighten($coreBlue,40%);
    stroke-width: 0px;
    fill: lighten($coreBlue,40%);
    opacity: .2;
}
#boroughs {
    stroke: grey;
	stroke-width: 0px;
	fill: lightskyblue;
    fill-opacity: 0.08;
    position: relative;
    z-index: 1;
}
